
<h3>Show Department</h3>
<h1>{{viewDept.id}} : {{viewDept.deptName}} : {{viewDept.location}}</h1>

<h3 class="mt-5">Insert Bar</h3>
<input type="text" class="mx-2" [(ngModel)]="newDept.id">
<input type="text" class="mx-2" [(ngModel)]="newDept.deptName">
<input type="text" class="mx-2" [(ngModel)]="newDept.location">
<button class="btn-dark mx-2" (click)="insert()">submit</button>

<table class="table table-striped|sm|bordered|hover|inverse table-inverse table-responsive">
    <thead class="thead-inverse|thead-default">
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Location</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of depts">
                <td scope="row">{{item.id}}</td>
                <td>{{item.deptName}}</td>
                <td>{{item.location}}</td>
                <td><button class="btn-success" (click)="show(item.id)">show</button> <button class="btn-primary mx-2" (click)="edit(item.id)">Edit</button> <button class="btn-danger" (click)="delete(item.id)">delete</button></td>
            </tr>
        </tbody>
</table>

<div class="mt-5">
    <h3>Edit Bar</h3>
    <input type="text" #v1 class="mx-2" [(ngModel)]="editDept.id">
    <input type="text" #v2 class="mx-2" [(ngModel)]="editDept.deptName">
    <input type="text" #v3 class="mx-2" [(ngModel)]="editDept.location">
    <button class="btn-dark mx-2" (click)="update()">update</button>
</div>